@model Infrastructure.Entities.Product

@{
    ViewData["Title"] = "Napravi proizvod";
}

<h2>Napravi Proizvod</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="form-group mb-3">
        <label asp-for="SifraProizvoda" class="form-label">Sifra proizvoda:</label>
        <input asp-for="SifraProizvoda" class="form-control" />
        <span asp-validation-for="SifraProizvoda" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ModelProizvoda" class="form-label">Model proizvoda:</label>
        <input asp-for="ModelProizvoda" class="form-control" />
        <span asp-validation-for="ModelProizvoda" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="SirinaUredjaja" class="form-label">Sirina proizvoda:</label>
        <input asp-for="SirinaUredjaja" class="form-control" />
        <span asp-validation-for="SirinaUredjaja" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="VisinaUredjaja" class="form-label">Visina proizvoda:</label>
        <input asp-for="VisinaUredjaja" class="form-control" />
        <span asp-validation-for="VisinaUredjaja" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="DubinaUredjaja" class="form-label">Dubina proizvoda:</label>
        <input asp-for="DubinaUredjaja" class="form-control" />
        <span asp-validation-for="DubinaUredjaja" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
